.web-whatsapp-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .green-background {
    width: 100%;
    height: 12.7rem;
    background-color: var(--green-100);
  }

  .cream-background {
    width: 100%;
    height: calc(100vh - 12.7rem);
    background-color: var(--cream-100);
  }

  .whatsapp-chat {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 143rem;

    box-shadow: 0.1rem 0.1rem 0.6rem 0.1rem rgba(0, 0, 0, 0.45);


    @media(min-height: 850px) {
      top: 1.6rem;
      bottom: 1.6rem;
    }
  }
}
