.web-whatsapp-box {
  position: relative;

  .green-background {
    width: 100%;
    height: 12.7rem;
    background-color: var(--green-100);
  }

  .cream-background {
    width: 100%;
    height: calc(100vh - 12.7rem);
    background-color: var(--cream-100);
  }

  .whatsapp-chat {
    position: absolute;
    top: 0;
  }
}
