.user-header-container {
  width: 41.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cream-50);
  padding: 1rem 1.6rem;

  .users-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .user-header-buttons {
    display: flex;
    column-gap: 1rem;
  }
}
